.nav {
  border-top: 1px solid #a60b0b;
  border-bottom: 1px solid #ebebeb;
  position: sticky;
  top: 5em;
  left: 0;
  z-index: 5;
  background: white;
}

.nav {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  position: sticky;
  top: 5em;
  left: 0;
  z-index: 5;
  background: white;
}


.nav .container {
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav .container .dropdown-container .dropdown-title, .nav .container .dropdown-container .dropdown-title a {
  color: #757575 !important;
  font-weight: 400;
  font-size: 16px;
}

.nav .container button {
  font-size: 16px;
  height: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: #757575;
}

.nav .container button:first-of-type {
  border-right: 1px solid #e4e4e4;
}
.old-price{
  text-decoration: line-through;
  font-size: 13px;
  color: #999;
  margin-left: 5px;
  font-weight: normal;
}
.categories-column .main-title{
  background: white;
}
.categories-column .column{
  background: white;
}
.nav .container button:last-of-type {
  padding-right: 0;
}

.nav .container .account-info {
  position: relative;
}

.nav .container .menu {
  position: absolute;
  top: 5em;
  right: 0;
  padding: 10px 0;
  width: 265px;
}

.nav .container .menu h3 {
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  padding: 4px 0;
  color: #555;
}

.nav .container .menu h3 span {
  font-size: 14px;
  color: #757575;
  font-weight: normal;
}

.nav .container .menu li {
  list-style: none;
  line-height: 2.5em;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav .container .menu li img {
  width: 20px;
  object-fit: contain;
  opacity: 0.5;
  transition: 0.3s;
  margin-right: 0.5em;
}

.nav .container .menu li:hover {
  box-shadow: 0 0 8px 0 #d4d4d4;
}

.nav .container .menu li:hover img {
  opacity: 0.7;
}

.nav .container .menu li, .nav .container .menu li a {
  color: #757575;
}

.nav .container .menu::before {
  box-shadow: 0 0 8px 0 #e4e4e4;
  content: "";
  width: 14px;
  height: 14px;
  background-color: white;
  position: absolute;
  top: -7px;
  right: 20px;
  transform: rotate(45deg);
}

.nav .container .menu.active {
  top: 3em;
}

.mobile-header .search-bar button {
  width: 2.5em;
  height: 2.5em;
  font-size: 16px;
  background-color: #189687;
  display: block;
}

.mobile-header .search-bar button img {
  width: 1em;
  object-fit: contain;
}

.header {
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
}

.header .container {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .container .logo {
  display: block;
}

.header .container .logo > img {
  width: 220px;
  height: 2.5em;
  object-position: left;
  object-fit: contain;
}

.header .container .categories-dropdown-btn {
  color: #757575;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 0.25em;
  border: 1px solid #e4e4e4;
  align-items: center;
}

.header .container .categories-dropdown-btn i:first-of-type {
  margin-right: 8px;
}

.header .container .categories-dropdown-btn i:last-of-type {
  font-size: 10px;
}

.header .container .header-btn {
  height: 100%;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.header .container .header-btn img {
  width: 1.25em;
  object-fit: contain;
  display: block;
}

.header .container .header-btn > div {
  margin-left: 8px;
  width: 60px;
}

.header .container .header-btn > div .number {
  color: white;
  font-size: 12px;
  line-height: 18px;
  width: 18px;
  background-color: #ff424e;
  text-align: center;
  border-radius: 100%;
}

.header .container .header-btn > div .title {
  font-size: 14px;
  color: #757575;
}

.header .container .search-bar {
  height: 2.5em;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
}

.header .container .search-bar input {
  padding-left: 1em;
  width: 100%;
  background-color: white;
  border: 1px solid #e4e4e4;
  height: 2.5em;
  font-size: 16px;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

.header .container .search-bar button {
  width: 2.5em;
  height: 2.5em;
  font-size: 16px;
  background-color: #189687;
  display: block;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

.header .container .search-bar button img {
  width: 1.25em;
  object-fit: contain;
}

.header .container .dropdown-container {
  height: auto;
  width: 175px;
}

.header .container .dropdown-container .dropdown-title {
  height: fit-content;
  line-height: unset;
  font-size: 13px;
  font-weight: 400;
  color: #189687;
}

.header .container .dropdown-container .dropdown-title span {
  font-size: 14px;
}

.header .container .dropdown-container .dropdown-title div {
  margin-left: 0.25em;
}

.header .container .dropdown-container .dropdown-info {
  left: -50px;
  width: 250px;
}

.header .container .dropdown-container .dropdown-info button {
  height: 3em;
  border-radius: 0.25em;
  width: calc(250px - 2em);
  margin: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  display: block;
  background: #189687;
  color: white;
  font-weight: 500;
}

.header .container .dropdown-container .dropdown-info div {
  height: 30px;
  line-height: 30px;
  padding-left: 1.5em;
  cursor: pointer;
}

.header .container .account-action img {
  width: 2.5em;
  object-fit: contain;
}

.header .container .account-info {
  position: relative;
}

.header .container .notify {
  position: relative;
}

.header .container .notify .menu {
  height: fit-content;
  padding-bottom: 0;
  width: 300px;
}

.header .container .notify .menu .column {
  height: fit-content;
  max-height: 318px;
  overflow: hidden;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  overflow-y: scroll;
}

.header .container .notify .menu h3 {
  line-height: 30px;
  padding: 4px 10px;
}

.header .container .notify .menu .item {
  padding: 0.5em 1em;
  border-bottom: 1px solid #e4e4e4;
  text-align: left;
}

.header .container .notify .menu .item .title {
  font-weight: 500;
  font-size: 16px;
}

.header .container .notify .menu .item .content {
  margin-top: 4px;
  font-size: 15px;
  color: #757575;
}

.header .container .notify .menu .item .date {
  margin-top: 4px;
  font-size: 12px;
  color: #757575;
}

.header .container .categories-dropdown {
  position: relative;
}

.header .container .menu::before {
  box-shadow: -1px -1px 2px 0 #e4e4e4;
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: -7px;
  right: 20px;
  transform: rotate(45deg);
}

.header .container .menu {
  position: absolute;
  top: 5em;
  right: 0;
  padding: 10px 0;
  padding-top: 0;
  width: 250px;
  height: calc(100vh - 5em);
  overflow: scroll;
}

.header .container .menu h3 {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  padding: 4px 20px;
  line-height: 48px;
  border-bottom: 1px solid #e4e4e4;
  color: #555;
}

.header .container .menu h3 span {
  font-size: 14px;
  color: #757575;
  font-weight: normal;
}

.header .container .menu li {
  width: 100%;
  list-style: none;
  line-height: 3em;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header .container .menu li .image {
  width: 30px;
  margin-right: 8px;
}

.header .container .menu li .image .img-container {
  width: 100%;
  padding-top: 100%;
}

.header .container .menu li > a {
  display: flex;
  align-items: center;
}

.header .container .menu li:hover {
  box-shadow: 0 0 8px 0 #d4d4d4;
}

.header .container .menu li:hover img {
  opacity: 1;
}

.header .container .menu li, .header .container .menu li a {
  width: 100%;
  color: #757575;
}

.header .container .menu.active {
  top: 3em;
}

.mobile-header {
  padding: 0.5em;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
}

.mobile-header .search-bar {
  height: 2.5em;
  width: 100%;
  display: flex;
}

.mobile-header .search-bar input {
  padding-left: 1em;
  width: calc(100% - 2.5em);
  background-color: #eff0f5;
  height: 2.5em;
  font-size: 16px;
}

.mobile-header .search-bar button {
  width: 2.5em;
  height: 2.5em;
  font-size: 16px;
  background-color: #189687;
  display: block;
}

.mobile-header .search-bar button img {
  width: 1em;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .header, .top-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .nav {
    display: none;
  }
  /* .top-footer {
    border: 1px solid #e4e4e4;
    background-color: white;
  }
  .top-footer .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .top-footer .container .policy-card {
    width: 100%;
    border-top: 1px solid #e4e4e4;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .container > div:first-of-type {
    width: 100%;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .footer .container > div:first-of-type .row {
    padding-right: 0;
  }
  .footer .container > div:first-of-type .row img:last-of-type {
    margin-right: 0;
    margin: 0.5em;
  }
  .footer .container > div:last-of-type {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer .container > div:last-of-type .row {
    justify-content: center;
  }
  .footer-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
  } */
  .regis-popup {
    background: white;
    padding: 1em;
    border-radius: 0.5em;
    position: relative;
    max-width: 90%;
  }
  .regis-popup input {
    width: 400px;
    max-width: 100%;
  }
  .regis-popup .close-btn {
    top: 10px;
    right: 16px;
  }
  .regis-popup .back-btn {
    left: 16px;
    top: 10px;
    padding-right: 1em;
  }

}
/* 
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .header, .top-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .nav {
    display: none;
  }
  .top-footer {
    border: 1px solid #e4e4e4;
    background-color: white;
  }
  .top-footer .container {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .top-footer .container .policy-card {
    width: 50%;
    border-top: 1px solid #e4e4e4;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer .container > div:first-of-type {
    width: 500px;
    display: flex;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .footer .container > div:first-of-type .row {
    padding-right: 0;
  }
  .footer .container > div:first-of-type .row input {
    width: 300px;
  }
  .footer .container > div:first-of-type .row img:last-of-type {
    margin-right: 0;
    margin: 0.5em;
  }
  .footer .container > div:last-of-type {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .footer .container > div:last-of-type .row {
    justify-content: center;
  }
  .footer-mobile {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .chat {
    bottom: 3em;
    right: 0;
  }
} */
/* 
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .footer .container {
    flex-direction: column;
  }
  .footer .container > div:last-of-type {
    width: 100%;
    justify-content: space-between;
  }
}


.top-footer {
  border: 1px solid #e4e4e4;
  background-color: white; }
  .top-footer .container {
    justify-content: space-between;
    flex-wrap: wrap; }
    .top-footer .container .policy-card {
      cursor: pointer;
      width: 25%;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #e4e4e4;
      border-right: 1px solid #e4e4e4;
      font-size: 17px;
      font-weight: lighter; }
      .top-footer .container .policy-card i {
        font-size: 28px;
        width: 28px;
        height: 28px;
        margin-bottom: 10px; }

.footer {
  background: #111723;
  color: white;
  padding: 2em; }
  .footer .container > div:first-of-type {
    width: 350px;
    padding-right: 1em; }
    .footer .container > div:first-of-type img {
      max-width: 15em;
      max-height: 3em;
      object-fit: contain;
      margin-bottom: 1em; }
    .footer .container > div:first-of-type div {
      font-size: 13px;
      line-height: 2em; }
    .footer .container > div:first-of-type .row {
      margin-top: 1em;
      padding-right: 2em; }
      .footer .container > div:first-of-type .row input {
        width: 100%;
        background-color: white;
        border-radius: 0.25em;
        margin-right: 0.5em;
        padding-left: 1em;
        border: 1px solid #e4e4e4; }
      .footer .container > div:first-of-type .row button {
        background-color: #e62e04;
        color: white;
        font-size: 14px;
        width: 120px;
        height: 40px;
        border-radius: 4px; }
      .footer .container > div:first-of-type .row img {
        width: 10em;
        margin-right: 1em;
        margin-top: 1em; }
  .footer .container > div:last-of-type {
    display: flex;
    justify-content: space-around; }
    .footer .container > div:last-of-type > div {
      padding-left: 1em;
      padding-right: 1em; }
      .footer .container > div:last-of-type > div h2 {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 2em; }
      .footer .container > div:last-of-type > div h2:nth-of-type(2) {
        margin-top: 2em; }
      .footer .container > div:last-of-type > div button {
        background-color: #e62e04;
        color: white;
        font-size: 14px;
        padding: 0.875em 1.5em;
        border-radius: 4px; }
      .footer .container > div:last-of-type > div div {
        color: #f2f3f8;
        margin-bottom: 1em;
        font-size: 13px;
        opacity: 0.7; }
        .footer .container > div:last-of-type > div div span,
        .footer .container > div:last-of-type > div div a {
          color: #f2f3f8;
          opacity: 0.5;
          line-height: 1.5em; }

.page-loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .page-loading img {
    width: 4em;
    height: 4em; }

.footer-mobile {
  position: sticky;
  left: 0;
  bottom: 0;
  background: white;
  z-index: 4;
  height: 3em; }
  .footer-mobile .footer-icon {
    width: 80px;
    display: flex;
    justify-content: center; }
    .footer-mobile .footer-icon a {
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: fit-content; }
      .footer-mobile .footer-icon a i {
        width: 20px;
        height: 20px;
        font-size: 20px; }
      .footer-mobile .footer-icon a img {
        font-size: 16px;
        width: 1.25em;
        height: 1.25em;
        object-fit: contain;
        display: block; }
      .footer-mobile .footer-icon a .cart-number {
        position: absolute;
        top: -5px;
        right: -2px;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        font-size: 10px;
        text-align: center;
        color: white;
        border-radius: 100%;
        background: #da9a24; }
  .footer-mobile .footer-home {
    width: 3em;
    height: calc(3em - 2px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #189687 solid;
    border-radius: 100%; }
    .footer-mobile .footer-home img {
      width: 1.5em;
      object-fit: contain; }
  .footer-mobile .footer-dropdown {
    position: absolute;
    width: fit-content;
    height: 0;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    background-color: white;
    bottom: 3em;
    right: 0;
    transition: 0.5s; }
    .footer-mobile .footer-dropdown div {
      width: 100%;
      text-align: right;
      padding: 0.5em; }
  .footer-mobile .footer-dropdown.active {
    height: 200px; } */